
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="sidebar-toolbar">
      <a class="sidebar-toolbar-title">
        <!-- <div class="logo-img">
            <img src="assets/images/logo_min.png"/>
        </div> -->
        Menu
      </a>
    </mat-toolbar>
    <mat-divider></mat-divider>
    <mat-nav-list>
      <a mat-list-item class="list-item" routerLink="principal">
        <p>Principal</p>
      </a>
      <a mat-list-item class="list-item" routerLink="lista-compradores">
        <p>Lista de compradores</p>
      </a>
      <a mat-list-item class="list-item" routerLink="lista-productores">
        <p>Lista de productores</p>
      </a>
      <a mat-list-item class="list-item" routerLink="lista-transportistas">
        <p>Lista de transportistas</p>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- <mat-toolbar>
      <div fxLayout='row' fxLayoutAlign='space-between' fxFlex='100%'>
        <div>
          <button
            type="button"
            aria-label="Toggle sidenav"
            mat-icon-button
            (click)="drawer.toggle()"
            *ngIf="isHandset$ | async">
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
          </button>
          <span>Sistema de Guias</span>
        </div>
        <div class="button">
          <button (click)="logOut()" mat-button>Logout</button>
        </div> 
      </div>
    </mat-toolbar> -->

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>

