<div class="grid-container" fxLayout="column">
  <div fxLayout="row wrap" fxLayoutAlign="stretch stretch">
    <div fxLayout="column" fxFlex="33%" style="padding: 10px">
      <app-productor-card></app-productor-card>
    </div>
    <div fxLayout="column" fxFlex="34%" style="padding: 10px">
      <app-comprador-card></app-comprador-card>
    </div>
    <div fxLayout="column" fxFlex="33%" style="padding: 10px">
      <app-transportista-card></app-transportista-card>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="stretch stretch">
    <div fxLayout="column" fxFlex="100%" style="padding: 10px">
      <app-principal-core-card></app-principal-core-card>
    </div>
  </div>
</div>
