<div class="card" fxLayout="column">
  <div class="title-text" style="margin-bottom: 15px">Listado de transportistas</div>
  <div fxLayout="row" fxFlexFill>
    <div fxLayout="column" fxFlexFill>

      <div *ngIf="!isLoading">
        <mat-form-field class="texts-redondeo" appearance="fill" style="width: 50%;">
          <mat-icon matSuffix>search</mat-icon>
          <mat-label>Filtrar por razón social</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Razon social">
        </mat-form-field>
        <div style="width: 100%; padding: 0px 0px 20px">
          Haga click sobre cualquier CUIT para marcarlo como seleccionado en la pantalla principal.
        </div>
        <div class="table-container" fxLayout="row" fxLayoutAlign="space-between start">
          <table mat-table [dataSource]="datosTabla" class="mat-elevation-z8">
        
            <ng-container matColumnDef="RazonSocial">
              <th mat-header-cell *matHeaderCellDef> RAZÓN SOCIAL </th>
              <td mat-cell *matCellDef="let element"> {{element.RazonSocial}} </td>
            </ng-container>
          
            <ng-container matColumnDef="CUIT" sticky>
              <th mat-header-cell *matHeaderCellDef> CUIT </th>
              <td mat-cell *matCellDef="let element" (click)="onCuitClick(element)" style="color:blue; cursor: pointer;"> {{element.CUIT}} </td>
            </ng-container>
          
            <ng-container matColumnDef="ChapaChasis">
              <th mat-header-cell *matHeaderCellDef> CHAPA DEL CHASIS </th>
              <td mat-cell *matCellDef="let element"> {{element.ChapaChasis}} </td>
            </ng-container>
          
            <ng-container matColumnDef="ChapaAcoplado">
              <th mat-header-cell *matHeaderCellDef> CHAPA DEL ACOPLADO </th>
              <td mat-cell *matCellDef="let element"> {{element.ChapaAcoplado}} </td>
            </ng-container>

            <ng-container matColumnDef="Chofer">
              <th mat-header-cell *matHeaderCellDef> CHOFER </th>
              <td mat-cell *matCellDef="let element"> {{element.Chofer}} </td>
            </ng-container>

            <ng-container matColumnDef="eliminar" stickyEnd>
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element">
                <button class="mat-warn" mat-button (click)="onClickDeleteButton(element)">Eliminar</button>
              </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      </div>
      <mat-spinner
      strokeWidth="3"
      diameter="30"
      *ngIf="isLoading"
    ></mat-spinner>
    </div>
  </div>
</div>
