.grid-as-list {
    font-size: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    padding: 0 16px;
}

.card {
    border: 2px solid black;
    padding: 20px;
    border-radius: 15px
}

.animales-card {
    border: 1px solid #c7c7c7;
    padding: 10px 0px 10px 10px;
    border-radius: 15px
}

.title-text {
    font-size: 25px;
    font-weight: 200;
}

.error-message {
    color: red;
}


.info-text {
    font-weight: 200;
    font-size: 18px;
    margin-bottom: 10px;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
.example-full-width {
    width: 100%;
}

[hidden] {
    display: none !important;
} 

.input-full-width {
    width: 90%;
}

.texts {
    font-size: 16px;
    margin-bottom: 10px;
}

.texts-big {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
}

.texts-redondeo {
    font-size: 25px;
    font-weight: 500;
}

.radio-group {
    display: inline-flex;
    flex-direction: column;
}

.radio-button {
    margin: 5px;
}