<div fxLayout="row" fxLayoutAlign="space-around start">
  <div fxLayout="column" fxFlex="27%">
    <div fxLayout="column" style="border: 2px solid black; padding: 2px; border-radius: 15px;">
      <div fxLayout="row" fxFlex="100%" fxLayoutAlign="center center" style="font-size: 30px; font-weight: 500; margin-bottom: 10px;"> 
        Bovinos
      </div>
      <div style="display: block; margin: 0; border-top-width: 1px; border-top-style: solid; border-top-color: rgba(0,0,0,.12);"></div>
      <div fxLayout="row" fxFlex="100%" fxLayoutAlign="center center" style="font-size: 20px; font-weight: 300;">
        <div fxLayout="column" fxFlex="65%" fxLayoutAlign="center end">
          Vacas: 
        </div>
        <div fxLayout="column" fxFlex="35%" fxLayoutAlign="center center">
          {{ datosAnimalesParseados.Vacas }}
        </div>
      </div>
      <div style="display: block; margin: 0; border-top-width: 1px; border-top-style: solid; border-top-color: rgba(0,0,0,.12);"></div>
      <div fxLayout="row" fxFlex="100%" fxLayoutAlign="center center" style="font-size: 20px; font-weight: 300;">
        <div fxLayout="column" fxFlex="65%" fxLayoutAlign="center end">
          Vaquillonas: 
        </div>
        <div fxLayout="column" fxFlex="35%" fxLayoutAlign="center center">
          {{ datosAnimalesParseados.Vaquillonas }}
        </div>
      </div>
      <div style="display: block; margin: 0; border-top-width: 1px; border-top-style: solid; border-top-color: rgba(0,0,0,.12);"></div>
      <div fxLayout="row" fxFlex="100%" fxLayoutAlign="center center" style="font-size: 20px; font-weight: 300;">
        <div fxLayout="column" fxFlex="65%" fxLayoutAlign="center end">
          Novillos: 
        </div>
        <div fxLayout="column" fxFlex="35%" fxLayoutAlign="center center">
          {{ datosAnimalesParseados.Novillos }}
        </div>
      </div>
      <div style="display: block; margin: 0; border-top-width: 1px; border-top-style: solid; border-top-color: rgba(0,0,0,.12);"></div>
      <div fxLayout="row" fxFlex="100%" fxLayoutAlign="center center" style="font-size: 20px; font-weight: 300;">
        <div fxLayout="column" fxFlex="65%" fxLayoutAlign="center end">
          Novillitos: 
        </div>
        <div fxLayout="column" fxFlex="35%" fxLayoutAlign="center center">
          {{ datosAnimalesParseados.Novillitos }}
        </div>
      </div>
      <div style="display: block; margin: 0; border-top-width: 1px; border-top-style: solid; border-top-color: rgba(0,0,0,.12);"></div>
      <div fxLayout="row" fxFlex="100%" fxLayoutAlign="center center" style="font-size: 20px; font-weight: 300;">
        <div fxLayout="column" fxFlex="65%" fxLayoutAlign="center end">
          Terneras/os: 
        </div>
        <div fxLayout="column" fxFlex="35%" fxLayoutAlign="center center">
          {{ datosAnimalesParseados.Terneros }}
        </div>
      </div>
      <div style="display: block; margin: 0; border-top-width: 1px; border-top-style: solid; border-top-color: rgba(0,0,0,.12);"></div>
      <div fxLayout="row" fxFlex="100%" fxLayoutAlign="center center" style="font-size: 20px; font-weight: 300;">
        <div fxLayout="column" fxFlex="65%" fxLayoutAlign="center end">
          Toros/Toritos: 
        </div>
        <div fxLayout="column" fxFlex="35%" fxLayoutAlign="center center">
          {{ datosAnimalesParseados.Toros }}
        </div>
      </div>

      <div style="display: block; margin: 0; border-top-width: 1px; border-top-style: solid; border-top-color: rgba(0,0,0,.12);"></div>
      <div fxLayout="row" fxFlex="100%" fxLayoutAlign="center center" style="font-size: 20px; font-weight: 500; margin-top: 10px; margin-bottom: 10px;">
        <div fxLayout="column" fxFlex="65%" fxLayoutAlign="center end">
          Total: 
        </div>
        <div fxLayout="column" fxFlex="35%" fxLayoutAlign="center center">
          {{ 
            datosAnimalesParseados.Vacas +
            datosAnimalesParseados.Vaquillonas + 
            datosAnimalesParseados.Novillos + 
            datosAnimalesParseados.Novillitos + 
            datosAnimalesParseados.Terneros + 
            datosAnimalesParseados.Toros 
          }}
        </div>
      </div>
    </div>
    <br>

    <div fxLayout="column" style="border: 2px solid black; padding: 2px; border-radius: 15px;">
      <div fxLayout="row" fxFlex="100%" fxLayoutAlign="center center" style="font-size: 30px; font-weight: 500; margin-bottom: 10px;"> 
        Porcinos
      </div>
      <div style="display: block; margin: 0; border-top-width: 1px; border-top-style: solid; border-top-color: rgba(0,0,0,.12);"></div>
      <div fxLayout="row" fxFlex="100%" fxLayoutAlign="center center" style="font-size: 20px; font-weight: 300;">
        <div fxLayout="column" fxFlex="65%" fxLayoutAlign="center end">
          Porcinos: 
        </div>
        <div fxLayout="column" fxFlex="35%" fxLayoutAlign="center center">
          {{ datosAnimalesParseados.Porcinos }}
        </div>
      </div>
    </div>
    <br>

    <div fxLayout="column" style="border: 2px solid black; padding: 2px; border-radius: 15px;">
      <div fxLayout="row" fxFlex="100%" fxLayoutAlign="center center" style="font-size: 25px; font-weight: 500; margin-bottom: 10px;"> 
        Ovinos/Caprinos
      </div>
      <div style="display: block; margin: 0; border-top-width: 1px; border-top-style: solid; border-top-color: rgba(0,0,0,.12);"></div>
      <div fxLayout="row" fxFlex="100%" fxLayoutAlign="center center" style="font-size: 15px; font-weight: 300;">
        <div fxLayout="column" fxFlex="65%" fxLayoutAlign="center end">
          Ovinos/Caprinos: 
        </div>
        <div fxLayout="column" fxFlex="35%" fxLayoutAlign="center center">
          {{ datosAnimalesParseados.Ovinos }}
        </div>
      </div>
    </div>
    <br>

    <div fxLayout="column" style="border: 2px solid black; padding: 2px; border-radius: 15px;">
      <div fxLayout="row" fxFlex="100%" fxLayoutAlign="center center" style="font-size: 30px; font-weight: 500; margin-bottom: 10px;"> 
        Equinos
      </div>
      <div style="display: block; margin: 0; border-top-width: 1px; border-top-style: solid; border-top-color: rgba(0,0,0,.12);"></div>
      <div fxLayout="row" fxFlex="100%" fxLayoutAlign="center center" style="font-size: 20px; font-weight: 300;">
        <div fxLayout="column" fxFlex="65%" fxLayoutAlign="center end">
          Equinos: 
        </div>
        <div fxLayout="column" fxFlex="35%" fxLayoutAlign="center center">
          {{ datosAnimalesParseados.Equinos }}
        </div>
      </div>
    </div>
    <br>

  </div>

  <div fxLayout="column" fxFlex="70%">
    <div fxLayout="column" style="border: 2px solid black; padding: 2px; border-radius: 15px;">
      <div fxLayout="row" fxFlex="100%">
        <div fxLayout="column" fxFlex="30%" fxLayoutAlign="center end">
          Productor: 
        </div>
        <div fxLayout="column" fxFlex="70%" fxLayoutAlign="center center">
          {{ datosProductorSelecionado.RazonSocial }}
        </div>
      </div>
      <div style="display: block; margin: 0; border-top-width: 1px; border-top-style: solid; border-top-color: rgba(0,0,0,.12);"></div>
      <div fxLayout="row" fxFlex="100%" fxLayoutAlign="center center">
        <div fxLayout="column" fxFlex="30%" fxLayoutAlign="center end">
          Nombre est.: 
        </div>
        <div fxLayout="column" fxFlex="70%" fxLayoutAlign="center center">
          {{ datosProductorSelecionado.NombreEstablecimiento }}
        </div>
      </div>
      <div style="display: block; margin: 0; border-top-width: 1px; border-top-style: solid; border-top-color: rgba(0,0,0,.12);"></div>
      <div fxLayout="row" fxFlex="100%" fxLayoutAlign="center center">
        <div fxLayout="column" fxFlex="30%" fxLayoutAlign="center end">
          CUIT: 
        </div>
        <div fxLayout="column" fxFlex="70%" fxLayoutAlign="center center">
          <div fxLayout="row" fxFlex="100%" fxLayoutAlign="center center">
            <div fxLayout="column" fxFlex="20%" fxLayoutAlign="center center" style="font-size: 20px; font-weight: 300;">
              {{ this.datosProductorSelecionado.CUITParteAdelante }}
            </div>
            <div fxLayout="column" fxFlex="80%" fxLayoutAlign="center start">
              <ngx-barcode6 [bc-value]="datosProductorSelecionado.CUITParteAtras" [bc-font-options]="10" [bc-height]="10" [bc-width]="1" [bc-display-value]="true"></ngx-barcode6>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>

    <div fxLayout="column" style="border: 2px solid black; padding: 2px; border-radius: 15px;"> 
      <div fxLayout="row" fxFlex="100%">
        <div fxLayout="column" fxFlex="30%" fxLayoutAlign="center end">
          Transportista: 
        </div>
        <div fxLayout="column" fxFlex="70%" fxLayoutAlign="center center">
          {{ datosTransportistaSelecionado.RazonSocial }}
        </div>
      </div>
      <div style="display: block; margin: 0; border-top-width: 1px; border-top-style: solid; border-top-color: rgba(0,0,0,.12);"></div>
      <div fxLayout="row" fxFlex="100%" fxLayoutAlign="center center">
        <div fxLayout="column" fxFlex="30%" fxLayoutAlign="center end">
          Chapa del chasis: 
        </div>
        <div fxLayout="column" fxFlex="70%" fxLayoutAlign="center center">
          <ngx-barcode6 [bc-value]="datosCamionSelecionado.ChapaChasis" [bc-font-options]="10" [bc-height]="10" [bc-width]="1" [bc-display-value]="true"></ngx-barcode6>
        </div>
      </div>
      <div style="display: block; margin: 0; border-top-width: 1px; border-top-style: solid; border-top-color: rgba(0,0,0,.12);"></div>
      <div fxLayout="row" fxFlex="100%" fxLayoutAlign="center center">
        <div fxLayout="column" fxFlex="30%" fxLayoutAlign="center end">
          Chapa del acoplado: 
        </div>
        <div fxLayout="column" fxFlex="70%" fxLayoutAlign="center center">
          <ngx-barcode6 [bc-value]="datosCamionSelecionado.ChapaAcoplado" [bc-font-options]="10" [bc-height]="10" [bc-width]="1" [bc-display-value]="true"></ngx-barcode6>
        </div>
      </div>
      <div style="display: block; margin: 0; border-top-width: 1px; border-top-style: solid; border-top-color: rgba(0,0,0,.12);"></div>

      <div fxLayout="row" fxFlex="100%" fxLayoutAlign="center center">
        <div fxLayout="column" fxFlex="30%" fxLayoutAlign="center end">
          CUIT: 
        </div>
        <div fxLayout="column" fxFlex="70%" fxLayoutAlign="center center">
          <div fxLayout="row" fxFlex="100%" fxLayoutAlign="center center">
            <div fxLayout="column" fxFlex="20%" fxLayoutAlign="center center" style="font-size: 20px; font-weight: 300;">
              {{ this.datosTransportistaSelecionado.CUITParteAdelante }}
            </div>
            <div fxLayout="column" fxFlex="80%" fxLayoutAlign="center start">
              <ngx-barcode6 [bc-value]="datosTransportistaSelecionado.CUITParteAtras" [bc-font-options]="10" [bc-height]="10" [bc-width]="1" [bc-display-value]="true"></ngx-barcode6>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>

    <div fxLayout="column" style="border: 2px solid black; padding: 2px; border-radius: 15px;">
      <div fxLayout="row" fxFlex="100%">
        <div fxLayout="column" fxFlex="30%" fxLayoutAlign="center end">
          Productor: 
        </div>
        <div fxLayout="column" fxFlex="70%" fxLayoutAlign="center center">
          {{ datosProductorSelecionado.RazonSocial }}
        </div>
      </div>
      <div style="display: block; margin: 0; border-top-width: 1px; border-top-style: solid; border-top-color: rgba(0,0,0,.12);"></div>
      <div fxLayout="row" fxFlex="100%" fxLayoutAlign="center center">
        <div fxLayout="column" fxFlex="30%" fxLayoutAlign="center end">
          Partida N°: 
        </div>
        <div fxLayout="column" fxFlex="70%" fxLayoutAlign="center center">
          <ngx-barcode6 [bc-value]="datosProductorSelecionado.Partida" [bc-font-options]="10" [bc-height]="10" [bc-width]="1" [bc-display-value]="true"></ngx-barcode6>
        </div>
      </div>
      <div style="display: block; margin: 0; border-top-width: 1px; border-top-style: solid; border-top-color: rgba(0,0,0,.12);"></div>
      <div fxLayout="row" fxFlex="100%" fxLayoutAlign="center center">
        <div fxLayout="column" fxFlex="30%" fxLayoutAlign="center end">
          Repagro N°: 
        </div>
        <div fxLayout="column" fxFlex="70%" fxLayoutAlign="center center">
          <ngx-barcode6 [bc-value]="datosProductorSelecionado.Repagro" [bc-font-options]="10" [bc-height]="10" [bc-width]="1" [bc-display-value]="true"></ngx-barcode6>
        </div>
      </div>
    </div>
    <br>
    
    <div fxLayout="column" style="border: 2px solid black; padding: 2px; border-radius: 15px;">
      <div fxLayout="row" fxFlex="100%">
        <div fxLayout="column" fxFlex="30%" fxLayoutAlign="center end">
          Comprador: 
        </div>
        <div fxLayout="column" fxFlex="70%" fxLayoutAlign="center center" *ngIf="datosCompradorSeleccionado.RazonSocial?.length < 20">
          <ngx-barcode6 [bc-value]="datosCompradorSeleccionado.RazonSocial" [bc-font-options]="10" [bc-height]="10" [bc-width]="1" [bc-display-value]="true"></ngx-barcode6>
        </div>
        <div fxLayout="column" fxFlex="70%" fxLayoutAlign="center center" *ngIf="datosCompradorSeleccionado.RazonSocial?.length >= 20 && datosCompradorSeleccionado.RazonSocial?.length < 38">
          <ngx-barcode6 [bc-value]="datosCompradorSeleccionado.RazonSocial" [bc-font-options]="10" [bc-height]="10" [bc-width]="0.8" [bc-display-value]="true"
                        [bc-font-size]="15"></ngx-barcode6>
        </div>
        <div fxLayout="column" fxFlex="70%" fxLayoutAlign="center center" *ngIf="datosCompradorSeleccionado.RazonSocial?.length >= 38">
          {{ datosCompradorSeleccionado.RazonSocial }}
        </div>
      </div>
      <div style="display: block; margin: 0; border-top-width: 1px; border-top-style: solid; border-top-color: rgba(0,0,0,.12);"></div>
      <div fxLayout="row" fxFlex="100%">
        <div fxLayout="column" fxFlex="30%" fxLayoutAlign="center end">
          Destino: 
        </div>
        <div fxLayout="column" fxFlex="70%" fxLayoutAlign="center center">
          <div *ngIf="bovinosVenta === 'VentaProvincia'">
            <ngx-barcode6 bc-value="Venta Provincia" [bc-font-options]="10" [bc-height]="10" [bc-width]="1" [bc-display-value]="true"></ngx-barcode6>
          </div>
          <div *ngIf="bovinosVenta === 'VentaForanea'">
            <ngx-barcode6 bc-value="Venta Foranea" [bc-font-options]="10" [bc-height]="10" [bc-width]="1" [bc-display-value]="true"></ngx-barcode6>
          </div>
          <div *ngIf="bovinosVenta === 'MismoEjido'">
            <ngx-barcode6 bc-value="Translado Mismo Ejido - A si mismo" [bc-font-options]="10" [bc-height]="10" [bc-width]="0.5" [bc-display-value]="true"
                          [bc-font-size]="15"></ngx-barcode6>
          </div>
          <div *ngIf="bovinosVenta === 'TransladoProvincial'">
            <ngx-barcode6 bc-value="Translado provincial - A si mismo" [bc-font-options]="10" [bc-height]="10" [bc-width]="0.5" [bc-display-value]="true" 
                          [bc-font-size]="15"></ngx-barcode6>
          </div>
          <div *ngIf="bovinosVenta === 'FaenaLocal'">
            <ngx-barcode6 bc-value="Faena Local" [bc-font-options]="10" [bc-height]="10" [bc-width]="1" [bc-display-value]="true"></ngx-barcode6>
          </div>
          <div *ngIf="bovinosVenta === 'Feria'">
            <ngx-barcode6 bc-value="Feria" [bc-font-options]="10" [bc-height]="10" [bc-width]="1" [bc-display-value]="true"></ngx-barcode6>
          </div>
          <div *ngIf="ovinosVenta === 'VentaProvincia'">
            <ngx-barcode6 bc-value="Venta Provincia" [bc-font-options]="10" [bc-height]="10" [bc-width]="1" [bc-display-value]="true"></ngx-barcode6>
          </div>
          <div *ngIf="ovinosVenta === 'VentaFuera'">
            <ngx-barcode6 bc-value="Venta Fuera" [bc-font-options]="10" [bc-height]="10" [bc-width]="1" [bc-display-value]="true"></ngx-barcode6>
          </div>
          <div *ngIf="porcinosVenta === 'VentaProvincia'">
            <ngx-barcode6 bc-value="Venta Provincia" [bc-font-options]="10" [bc-height]="10" [bc-width]="1" [bc-display-value]="true"></ngx-barcode6>
          </div>
          <div *ngIf="porcinosVenta === 'VentaFuera'">
            <ngx-barcode6 bc-value="Venta Fuera" [bc-font-options]="10" [bc-height]="10" [bc-width]="1" [bc-display-value]="true"></ngx-barcode6>
          </div>
          <div *ngIf="equinosVenta === 'VentaProvincia'">
            <ngx-barcode6 bc-value="Venta Provincia" [bc-font-options]="10" [bc-height]="10" [bc-width]="1" [bc-display-value]="true"></ngx-barcode6>
          </div>
          <div *ngIf="equinosVenta === 'VentaFuera'">
            <ngx-barcode6 bc-value="Venta Fuera" [bc-font-options]="10" [bc-height]="10" [bc-width]="1" [bc-display-value]="true"></ngx-barcode6>
          </div>
        </div>
      </div>
      <div style="display: block; margin: 0; border-top-width: 1px; border-top-style: solid; border-top-color: rgba(0,0,0,.12);"></div>
      <div fxLayout="row" fxFlex="100%" fxLayoutAlign="center center">
        <div fxLayout="column" fxFlex="30%" fxLayoutAlign="center end">
          CUIT: 
        </div>
        <div fxLayout="column" fxFlex="70%" fxLayoutAlign="center center">
          <div fxLayout="row" fxFlex="100%" fxLayoutAlign="center center">
            <div fxLayout="column" fxFlex="20%" fxLayoutAlign="center center" style="font-size: 20px; font-weight: 300;">
              {{ this.datosCompradorSeleccionado.CUITParteAdelante }}
            </div>
            <div fxLayout="column" fxFlex="80%" fxLayoutAlign="center start">
              <ngx-barcode6 [bc-value]="datosCompradorSeleccionado.CUITParteAtras" [bc-font-options]="10" [bc-height]="10" [bc-width]="1" [bc-display-value]="true"></ngx-barcode6>
            </div>
          </div>
        </div>
      </div>
      <div style="display: block; margin: 0; border-top-width: 1px; border-top-style: solid; border-top-color: rgba(0,0,0,.12);"></div>
      <div fxLayout="row" fxFlex="100%" fxLayoutAlign="center center">
        <div fxLayout="column" fxFlex="30%" fxLayoutAlign="center end">
          Provincia: 
        </div>
        <div fxLayout="column" fxFlex="70%" fxLayoutAlign="center center">
          <ngx-barcode6 [bc-value]="datosCompradorSeleccionado.NombreProvincia" [bc-font-options]="10" [bc-height]="10" [bc-width]="1" [bc-display-value]="true"></ngx-barcode6>
        </div>
      </div>
      <div style="display: block; margin: 0; border-top-width: 1px; border-top-style: solid; border-top-color: rgba(0,0,0,.12);"></div>
      <div fxLayout="row" fxFlex="100%" fxLayoutAlign="center center">
        <div fxLayout="column" fxFlex="30%" fxLayoutAlign="center end">
          Localidad: 
        </div>
        <div fxLayout="column" fxFlex="70%" fxLayoutAlign="center center">
          <ngx-barcode6 [bc-value]="datosCompradorSeleccionado.NombreLocalidad" [bc-font-options]="10" [bc-height]="10" [bc-width]="1" [bc-display-value]="true"></ngx-barcode6>
        </div>
      </div>
      <div style="display: block; margin: 0; border-top-width: 1px; border-top-style: solid; border-top-color: rgba(0,0,0,.12);"></div>
      <div fxLayout="row" fxFlex="100%">
        <div fxLayout="column" fxFlex="30%" fxLayoutAlign="center end">
          Repagro N°: 
        </div>
        <div fxLayout="column" fxFlex="70%" fxLayoutAlign="center center">
          <ngx-barcode6 [bc-value]="datosCompradorSeleccionado.Repagro" [bc-font-options]="10" [bc-height]="10" [bc-width]="1" [bc-display-value]="true"></ngx-barcode6>
        </div>
      </div>
    </div>
    <br>

    <div fxLayout="column" style="border: 2px solid black; padding: 2px; border-radius: 15px;"> 
      <div fxLayout="row" fxFlex="100%" fxLayoutAlign="center center">
        <div fxLayout="column" fxFlex="30%" fxLayoutAlign="center end">
          Boleto de marca: 
        </div>
        <div fxLayout="column" fxFlex="70%" fxLayoutAlign="center center">
          <ngx-barcode6 [bc-value]="datosProductorSelecionado.BoletoMarca" [bc-font-options]="10" [bc-height]="10" [bc-width]="1" [bc-display-value]="true"></ngx-barcode6>
        </div>
      </div>
      <div style="display: block; margin: 0; border-top-width: 1px; border-top-style: solid; border-top-color: rgba(0,0,0,.12);"></div>
      <div fxLayout="row" fxFlex="100%" fxLayoutAlign="center center">
        <div fxLayout="column" fxFlex="30%" fxLayoutAlign="center end">
          Boleto de señal: 
        </div>
        <div fxLayout="column" fxFlex="70%" fxLayoutAlign="center center">
          <ngx-barcode6 [bc-value]="datosProductorSelecionado.BoletoSenial" [bc-font-options]="10" [bc-height]="10" [bc-width]="1" [bc-display-value]="true"></ngx-barcode6>
        </div>
      </div>
    </div>
  </div>
  
</div>

<div fxLayout="column" fxLayoutAlign="center stretch" style="border: 1px solid black; padding: 2px; border-radius: 15px; margin-top: 10px;" > 
  <div fxLayout="row" fxFlex="100%" fxLayoutAlign="center center" style="margin-bottom: 5px; margin-top:5px;">
    <div fxLayout="column" fxFlex="33%" fxLayoutAlign="center stretch" style="padding: 2px;">
      <div fxLayout="row" fxFlex="100%" fxLayoutAlign="end stretch" style="margin-bottom: 5px; margin-top:5px;">
        <div fxLayout="column" fxFlex="65%" fxLayoutAlign="center end">
          Ingresos Brutos:
        </div>
        <div fxLayout="column" fxFlex="35%" fxLayoutAlign="center center">
          ${{ ingresosBrutos | number:'1.0-2':'es-Ar'}}
        </div>
      </div>
    </div>
    <div fxLayout="column" fxFlex="33%" fxLayoutAlign="center stretch" style="padding: 2px;">
      <div fxLayout="row" fxFlex="100%" fxLayoutAlign="end stretch" style="margin-bottom: 5px; margin-top:5px;">
        <div fxLayout="column" fxFlex="65%" fxLayoutAlign="center end">
          Guia única:
        </div>
        <div fxLayout="column" fxFlex="35%" fxLayoutAlign="center center">
          ${{ totalSoloGuia | number:'1.0-2':'es-Ar'}}
        </div>
      </div>
    </div>
    <div fxLayout="column" fxFlex="33%" fxLayoutAlign="center stretch" style="padding: 2px;">
      <div fxLayout="row" fxFlex="100%" fxLayoutAlign="end stretch" style="margin-bottom: 5px; margin-top:5px;">
        <div fxLayout="column" fxFlex="65%" fxLayoutAlign="center end">
          A depositar en S.A.G:
        </div>
        <div fxLayout="column" fxFlex="35%" fxLayoutAlign="center center">
          ${{ totalSoloGuia + ingresosBrutos | number:'1.0-2':'es-Ar' }}
        </div>
      </div>
    </div>
  </div>
  <div style="display: block; margin: 0; border-top-width: 1px; border-top-style: solid; border-top-color: rgba(0,0,0,.12);"></div>
  
  <div fxLayout="row" fxFlex="100%" fxLayoutAlign="center center" style="margin-bottom: 5px; margin-top:5px;">
    <div fxLayout="column" fxFlex="33%" fxLayoutAlign="center stretch" style="padding: 2px;">
      <div fxLayout="row" fxFlex="100%" fxLayoutAlign="end stretch" style="margin-bottom: 5px; margin-top:5px;">
        <div fxLayout="column" fxFlex="65%" fxLayoutAlign="center end">
          Ingresado a S.A.G:
        </div>
        <div fxLayout="column" fxFlex="35%" fxLayoutAlign="center center">
          ${{ totalRedondeo }}
        </div>
      </div>
    </div>
    <div fxLayout="column" fxFlex="33%" fxLayoutAlign="center stretch" style="padding: 2px;">
      <div fxLayout="row" fxFlex="100%" fxLayoutAlign="end stretch" style="margin-bottom: 5px; margin-top:5px;">
        <div fxLayout="column" fxFlex="65%" fxLayoutAlign="center end">
          Derecho oficina:
        </div>
        <div fxLayout="column" fxFlex="35%" fxLayoutAlign="center center">
          ${{ derechoOficina | number:'1.0-2':'es-Ar'}}
        </div>
      </div>
    </div>
    <div fxLayout="column" fxFlex="33%" fxLayoutAlign="center stretch" style="padding: 2px;">
      <div fxLayout="row" fxFlex="100%" fxLayoutAlign="end stretch" style="margin-bottom: 5px; margin-top:5px;">
        <div fxLayout="column" fxFlex="65%" fxLayoutAlign="center end">
          Total recibo municipal:
        </div>
        <div fxLayout="column" fxFlex="35%" fxLayoutAlign="center center">
          ${{ total | number:'1.0-2':'es-Ar'}} 
        </div>
      </div>
    </div>
  </div>
</div>